{% extends "base.html" %}

{% block vsebina %}
    <h2>Filton Guest Book</h2>
    <h3>Deleted Messages</h3>
{% for result in list_ %}
    <p>
    <strong><a href="mailto:{{result.email}}">{{ result.first_name }} {{ result.last_name }}</a></strong> on {{ result.time_date.strftime('%B %d %Y at %H:%M') }}:
        <br>
        <em>{{ result.message }}</em>
        <br>
        <form></form>
        <a href="/list/{{ result.key.id() }}/list_recover" ><button>Recover</button></a>
        <a href="/list/{{ result.key.id() }}/list_delete_final" ><button>Delete</button></a>
    </p>
    <br>
{% else %}
    <p>No messages yet.</p>
{% endfor %}

{% endblock vsebina %}